@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>
    ONLINE DOCTOR APPOINTMENT BOOKING SYSTEM
</h3>

<p>In this digital era, it’s making our lives easier and better. All the industry changes in a better way with the changes in technology. Taking about the healthcare industry; the medicine delivery app offers the best services. Know the healthcare industry is looking for the appointment booking for all the doctor’s to save timing and efficiency..</p>

<p>For that, the doctor appointment booking app stands true to that test. With the doctor’s appointment booking app, patients can easily book their bookings with some click. Also, a doctor can manage their time and efficiency to appointments. Our AppoBook app is the best to book an appointment with a doctor and makes things easier for doctors & patients. AppoBook booking app is available for both Android & iOS platforms. For more information, you can directly contact and view the application live demo.</p>